<html>
    <%- include ("../../partials/head.ejs", {
      meta: {
        title: "App | Posts",
        description: "This is my app.",
        cssSheetNames: ["post_edit.css",]
      },
    }) %>
  <body>
    <%- include ("../../components/Header/Header.ejs") %>
    <main id="content" class="content">
      <%- include ("../../components/PostDetailEdit/PostDetailEdit.ejs", {
  			post: post,
  		}) %>
    </main>
    <%- include ("../../components/Footer/Footer.ejs", {
			currentPage: "home",
		}) %>
    <%- include("../../partials/script.ejs", {
      scripts,
    }) %>
  </body>
</html>
