          <a id="post-<%- post.post_id %>" class="search-result" href="/posts/<%- post.post_id %>"span>
            <h3 class="search-result-heading"><%- post.heading %></h3
            ><img class="search-result-image" src="<%- post.post_photo_url %>" /
            ><span class="search-result-author-container">
              <img class="search-result-author-photo" src="<%- post.user_photo_url %>" /
              ><span class="search-result-author-name" href="/users/<%- post.author_id %>"><%- post.first_name+' '+post.last_name %></span>
            </span
            ><span class="search-result-date"><%- post.post_date %></span
            ><p class="search-result-body"><%- post.body %></p>
          </a>
