<html>
    <%- include ("../partials/head", {
      meta: {
        title: "App | Home",
        description: "This is my app.",
        cssSheetNames: ["index.css","searchForm.css",]
      },
    }) %>
  <body>
    <%- include ("../components/Header") %>
    <main id="content" class="content">
      <%- include ("../components/SearchBar", {
        search: null,
      }) %>
      <%- include ("../components/PostsPreview") %>
    </main>
    <%- include ("../components/Footer", {
      currentPage: "home",
    }) %>
    <%- include("../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
