<html>
    <%- include ("../partials/head", {
      meta: {
        title: "App | Login",
        description: "This is my app.",
        cssSheetNames: ["login.css",]
      },
    }) %>
  <body>
    <%- include ("../components/Header") %>
    <main class="content">
      <%- include ("../components/LoginForm", {
  			failure: failure,
  		}) %>
    </main>
    <%- include ("../components/Footer", {
			currentPage: "menu",
		}) %>
    <%- include("../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
