<% logInOut = (!user) ? {text:"Log In", href:"/login"} : {text:"Log Out", href:"/logout"}; %>
<% menuItems = [logInOut]; %>
<html>
    <%- include ("../partials/head", {
      meta: {
        title: "App | Menu",
        description: "This is my app.",
        cssSheetNames: ["menu.css",]
      },
    }) %>
  <body>
    <%- include ("../partials/header") %>
    <main id="content" class="content">
      <%- include ("../components/Menu", {
  			user: user,
        menuItems: menuItems,
  		}) %>
    </main>
    <%- include ("../partials/footer", {
			currentPage: "menu",
		}) %>
    <%- include("../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
