<html>
    <%- include ("../partials/head", {
      meta: {
        title: "App | Users",
        description: "This is my app.",
        cssSheetNames: ["users.css",]
      },
    }) %>
  <body>
    <%- include ("../partials/header") %>
    <main id="content" class="content">
      <%- include ("../components/UserDetail", {
  			user: user,
        posts: posts,
        sessionUser: sessionUser,
  		}) %>
      </div>
    </main>
    <%- include ("../partials/footer", {
			currentPage: "home",
		}) %>
    <%- include("../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
