<html>
    <%- include ("../partials/head", {
      meta: {
        title: "App | Account",
        description: "This is my app.",
        cssSheetNames: ["account.css",]
      },
    }) %>
  <body>
    <%- include ("../components/Header") %>
    <main id="content" class="content">
      <form class="account-form" method="POST">
        <section class="top-section">
        	<img class="user-photo" src="<%- user.user_photo_url %>" />
          <div class="user-name-container">
            <input id="user-first-name-input" class="user-account-input user-account-first-name-input" type="text" name="firstName" value="<%- user.first_name %>" /
            ><input id="user-last-name-input" class="user-account-input user-account-last-name-input" type="text" name="lastName" value="<%- user.last_name %>" />
          </div>
        </section>
        <input id="user-email-address-input" class="user-account-input" type="text" name="emailAddress" value="<%- user.email_address %>" />
        <label class="user-account-label" for="user-email-address-input">Email Address</label>
        <input id="user-phone-number-input" class="user-account-input" type="text" name="phoneNumber" value="<%- user.phone_number %>" />
        <label class="user-account-label" for="user-phone-number-input">Phone Number</label>
        <div class="user-account-footer">
          <button class="user-account-button user-account-save-button" type="button">Save</button>
          <button class="user-account-button post-cancel-button" type="button" onclick="window.history.back();">Cancel</button>
        </div>
        <div class="dialog-container">
          <dialog class="dialog" open>
            <p class="dialog-text">Are you sure you want to save?</p>
            <button class="dialog-button dialog-ok-button" type="button">OK</button>
            <button class="dialog-button dialog-cancel-button" type="button">Cancel</button>
          </dialog>
        </div>
      </form>
    </main>
    <%- include ("../components/Footer", {
			currentPage: "menu",
		}) %>
    <%- include("../partials/script.ejs", {
      scripts: ["account.js"],
    }) %>
  </body>
</html>
