<html>
    <%- include ("../partials/head", {
      meta: {
        title: "App | Search",
        description: "This is the search.",
        cssSheetNames: ["search.css", "searchForm.css"]
      },
    }) %>
  <body>
    <%- include ("../components/Header") %>
    <main id="content" class="content">
      <%- include ("../components/SearchBar", {
        search: search,
      }) %>
      <%- include ("../components/SearchResults", {
        posts: posts,
      }) %>
    </main>
    <%- include ("../components/Footer", {
			currentPage: "home",
		}) %>
    <%- include("../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
