<html>
    <%- include ("../../partials/head.ejs", {
      meta: {
        title: "App | Search",
        description: "This is the search.",
        cssSheetNames: ["search.css", "searchForm.css"]
      },
    }) %>
  <body>
    <%- include ("../../components/Header/Header.ejs") %>
    <main id="content" class="content">
      <%- include ("../../components/SearchResults/SearchResults.ejs", {
        posts: posts,
      }) %>
    </main>
    <%- include ("../../components/Footer/Footer.ejs", {
			currentPage: "home",
		}) %>
    <%- include("../../partials/script.ejs", {
      scripts,
    }) %>
  </body>
</html>
