<html>
    <%- include ("../../partials/head", {
      meta: {
        title: "App | Posts",
        description: "This is my app.",
        cssSheetNames: ["posts.css",]
      },
    }) %>
  <body>
    <%- include ("../../components/Header/Header") %>
    <main id="content" class="content">
      <%- include ("../../components/PostDetail/PostDetail", {
  			post: post,
        sessionUser: sessionUser,
  		}) %>
    </main>
    <%- include ("../../components/Footer/Footer", {
			currentPage: "home",
		}) %>
    <%- include("../../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
