<html>
    <%- include ("../../partials/head.ejs", {
      meta: {
        title: "App | Home",
        description: "This is my app.",
        cssSheetNames: ["index.css","searchForm.css",]
      },
    }) %>
  <body>
    <%- include ("../../components/Header/Header.ejs") %>
    <main id="content" class="content">
      <%- include ("../../components/PostsPreview/PostsPreview.ejs") %>
    </main>
    <%- include ("../../components/Footer/Footer.ejs", {
      currentPage: "home",
    }) %>
    <%- include("../../partials/script.ejs", {
      scripts,
    }) %>
  </body>
</html>
