<html>
    <%- include("../../partials/head.ejs", {
      meta: {
        title: "App | Account",
        description: "This is my app.",
        cssSheetNames: ["account.css",]
      },
    }) %>
  <body>
    <%- include("../../components/Header/Header.ejs") %>
    <main id="content" class="content">
      <h1 class="page-title">Account</h1>
      <%- include("../../components/AccountForm/AccountForm.ejs", {
        user: user,
      }) %>
    </main>
    <%- include ("../../components/Footer/Footer.ejs", {
			currentPage: "menu",
		}) %>
    <%- include("../../partials/script.ejs", {
      scripts,
    }) %>
  </body>
</html>
