<% logInOut = (!user) ? {text:"Log In", href:"/login"} : {text:"Log Out", href:"/logout"}; %>
<% menuItems = [logInOut]; %>
<html>
    <%- include ("../../partials/head.ejs", {
      meta: {
        title: "App | Menu",
        description: "This is my app.",
        cssSheetNames: ["menu.css",]
      },
    }) %>
  <body>
    <%- include ("../../components/Header/Header.ejs") %>
    <main id="content" class="content">
      <%- include ("../../components/Menu/Menu.ejs", {
  			user: user,
        menuItems: menuItems,
  		}) %>
    </main>
    <%- include ("../../components/Footer/Footer.ejs", {
			currentPage: "menu",
		}) %>
    <%- include("../../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
