<html>
    <%- include ("../../partials/head.ejs", {
      meta: {
        title: "App | Login",
        description: "This is my app.",
        cssSheetNames: ["login.css",]
      },
    }) %>
  <body>
    <%- include ("../../components/Header/Header.ejs") %>
    <main class="content">
      <h1 class="page-title">Login</h1>
      <%- include ("../../components/LoginForm/LoginForm.ejs", {
  			failure: failure,
  		}) %>
    </main>
    <%- include ("../../components/Footer/Footer.ejs", {
			currentPage: "menu",
		}) %>
    <%- include("../../partials/script.ejs", {
      scripts,
    }) %>
  </body>
</html>
