        <section id="post-<%- post.post_id %>" class="post-preview">
          <span class="post-preview-heading"><%- post.heading %></span
          ><img class="post-preview-image" src="<%- post.post_photo_url %>" /
          ><div class="post-preview-author-container">
            <img class="post-preview-author-photo" src="<%- post.user_photo_url %>" /
            ><a class="post-preview-author-name" href="/users/<%- post.author_id %>"><%- post.first_name+' '+post.last_name %></a>
          </div
          ><span class="post-preview-date"><%- post.post_date %></span
          ><p class="post-preview-body"><%- post.body %></p
          ><a class="post-preview-continue-reading-button" href="/posts/<%- post.post_id %>">Continue Reading</a>
        </section>
