<% logInOut = (!user) ? {text:"Log In", href:"/login"} : {text:"Log Out", href:"/logout"}; %>
<% menuItems = [logInOut]; %>
<html>
  <head>
    <%- include ("partials/head", {
      meta: {
        title: "App | Menu",
        description: "This is my app.",
        cssSheetNames: ["menu.css",]
      },
    }) %>
  </head>
  <body>
    <%- include ("partials/header") %>
    <main id="content" class="content">
      <div class="menu">
        <% if(user) { %>
        <a class="menu-item menu-item-user-container" href="/account">
          <img class="menu-item-user-photo" src="<%- user.photoUrl %>">
          <div class="menu-item-user-name-container">
            <h3 class="menu-item-user-name"><%- user.firstName+' '+user.lastName %></h3>
            <h5 class="menu-item-user-username"><%- user.username %></h5>
          </div>
        </a>
        <% } %>
        <% for(let i in menuItems) { %>
        <% const menuItem = menuItems[i]; %>
        <a class="menu-item" href="<%- menuItem.href %>">
          <span><%- menuItem.text %></span>
        </a>
        <% }; %>
      </div>
    </main>
    <%- include ("partials/footer") %>
  </body>
  <script src="/js/currentPage.js"></script>
</html>
