<html>
  <head>
    <%- include ("partials/head", {
      meta: {
        title: "App | Search",
        description: "This is the search.",
        cssSheetNames: ["search.css", "searchForm.css"]
      },
    }) %>
  </head>
  <body>
    <%- include ("partials/header") %>
    <main id="content" class="content">
      <section>
        <%- include ("partials/searchForm", {search: search}) %>
      </section>
      <section class="page-title-section">
        <h2 class="page-title">Search</h2>
      </section>
      <% posts.forEach(post=>{ %>
        <a id="post-<%- post.post_id %>" class="post-section" href="/posts/<%- post.post_id %>"span>
          <h3 class="post-heading"><%- post.heading %></h3
          ><img class="post-image" src="<%- post.post_photo_url %>" /
          ><span class="post-author-container">
            <img class="post-author-photo" src="<%- post.user_photo_url %>" /
            ><span class="post-author-name" href="/users/<%- post.author_id %>"><%- post.first_name+' '+post.last_name %></span>
          </span
          ><span class="post-date"><%- post.post_date %></span
          ><p class="post-body"><%- post.body %></p
          ><!-- <a class="post-continue-reading-button" href="/posts/<%- post.post_id %>">Continue Reading</a> -->
        </a>
        <% if (posts.indexOf(post) < posts.length-1) { %>
          <hr class="content-hr" />
        <% } %>
      <% }); %>
    </main>
    <%- include ("partials/footer") %>
  </body>
  <!-- <script src="/js/index.js"></script> -->
  <script src="/js/currentPage.js"></script>
</html>
