<% const navbar = {home: {text: "Home", href: "/", iconClass: "fas fa-home"}, stuff: {text: "Stuff", href: "/stuff", iconClass: "fas fa-box-open"}, notifications: {text: "Notifications", href: "/notifications", iconClass: "fas fa-bell"}, menu: {text: "Menu", href: "/menu", iconClass: "fas fa-bars"},}; %>
<nav class="navbar <%-navbarClasses-%>">
<% for(const itemName in navbar) { %>
  <% const {text, href, iconClass} = navbar[itemName]; %>
  <a class="navbar-button <%-navbarItemClasses-%><% if(currentPage === itemName) { %> current<% } %>" href="<%- href %>"><i class="navbar-icon <%- iconClass %>"></i><span class="navbar-name"><%- text %></span></a>
<% } %>
</nav>
