<html>
    <%- include ("../../partials/head", {
      meta: {
        title: "App | Users",
        description: "This is my app.",
        cssSheetNames: ["users.css",]
      },
    }) %>
  <body>
    <%- include ("../../components/Header/Header") %>
    <main id="content" class="content">
      <%- include ("../../components/UserDetail/UserDetail", {
  			user: user,
        posts: posts,
        sessionUser: sessionUser,
  		}) %>
      </div>
    </main>
    <%- include ("../../components/Footer/Footer", {
			currentPage: "home",
		}) %>
    <%- include("../../partials/script.ejs", {
      scripts: [],
    }) %>
  </body>
</html>
